@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
  background-color: #fff;
  
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resume {
  font-size: 20px;
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  color: #CA5E07;
}

.display {
  font-size: 16px;
  text-align: right;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  padding: 10px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #CA5E07;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button:hover {
  background-color: #ccc;
}

#clear {
  grid-column: span 2;
  background-color: #E9535C; /* Couleur différente pour le bouton "C" */
  color: #fff
}

#equals {
/*   grid-column: span 2; */
  grid-row: span 2;
  background-color: #CA5E07; /* Couleur différente pour le bouton "=" */
  color: #333;
}

.zero {
  grid-column: span 2;
}

/* Styles pour les chiffres */
.number {
  background-color: #444; /* Couleur pour les chiffres */
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

